
html {
  font-size: 12px;
}


#masthead {
  border: 1px solid red;
}


.TwofoldLayoutW {

  .TwofoldLayout {
    border: 1px solid red;

    display: flex;

    .Breadcrumbs {
      display: flex;
    }

    .ItemModal {
      border: 2px solid white;

      position: absolute;
      top: 100px;
      bottom: 100px;
      left: 100px;
      right: 100px;

      background: #eee;
    }

    .LeftPane {
      border: 2px solid green;

      width: 50%;
    }


    .Map {
      border: 1px solid red;
      min-width: 500px;
      min-height: 500px;
    }

    .Markers {
      border: 2px solid green;
    }

    .Newsfeed {
      border: 2px solid blue;
    }

    .RightPane {
      border: 2px solid cyan;

      width: 50%;
    }

  }
}

