html {
  font-size: 12px;
}
#masthead {
  border: 1px solid red;
}
.TwofoldLayoutW .TwofoldLayout {
  border: 1px solid red;
  display: flex;
}
.TwofoldLayoutW .TwofoldLayout .Breadcrumbs {
  display: flex;
}
.TwofoldLayoutW .TwofoldLayout .ItemModal {
  border: 2px solid white;
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  background: #eee;
}
.TwofoldLayoutW .TwofoldLayout .LeftPane {
  border: 2px solid green;
  width: 50%;
}
.TwofoldLayoutW .TwofoldLayout .Map {
  border: 1px solid red;
  min-width: 500px;
  min-height: 500px;
}
.TwofoldLayoutW .TwofoldLayout .Markers {
  border: 2px solid green;
}
.TwofoldLayoutW .TwofoldLayout .Newsfeed {
  border: 2px solid blue;
}
.TwofoldLayoutW .TwofoldLayout .RightPane {
  border: 2px solid cyan;
  width: 50%;
}
