:root {
  /* Admin-bar height */
  --global--admin-bar--height: 0px;
}
.admin-bar {
  --global--admin-bar--height: 32px;
}
@media only screen and (max-width: 782px) {
  .admin-bar {
    --global--admin-bar--height: 46px;
  }
}
